@page "/tasktimer"
@using System.Threading.Tasks
@using ui.Components.Models
@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IJSRuntime JS
@inject TaskTimerService taskTimerService
@inject NotifierService notifierService
@inject ILogger<TaskTimer> Logger

<PageTitle>Task Timer</PageTitle>

<h3>Task Timer</h3>

<div class="card container-md">
    <div class="card-body container-sm">
        <h3 class="card-title">Active Timer</h3>
        <div class="mb-2">
            <div class="mb-2" asp-for="timeRemaining">
                Time Remaining
                <div id='timerDisplay' class="mb-3">@TimeRemaining</div>
            </div>
        </div>
        <p>Current Phase: @CurrentPhase</p>
        <p>Status: @CurrentState</p>
        <button @onclick="StartTimer" class="btn btn-primary" disabled="@CurrentState.IsRunning">Start</button>
    </div>

    <div class="card-body container-sm">
        <h3>Active Data</h3>
        <div class="container-sm">
            <h4>Work Notes</h4>
            <EditForm Model="Model" OnValidSubmit="Submit" FormName="WorkNotes">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row">
                    <label>
                        (cycle [@currentCycleCount of @cycleCount])
                        <div class="row">
                            <InputTextArea @bind-Value="Model!.Description" />
                        </div>
                    </label>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="card-body container-sm">
            <h3 class="mb-3">Completed Cycles</h3>
            @if (completedSessions.Any())
            {
                <div class="d-flex flex-column">
                    @foreach (var session in completedSessions)
                    {
                        <div class="card my-2">
                            <div class="card-body">
                                <h5 class="card-title">@session.Message</h5>
                                <p class="card-text">Duration: @session.Period.ToString(@"mm\:ss")</p>
                                <p class="card-text"><small class="text-muted">Finished at
                                        @session.CompletedAt.ToShortTimeString()</small></p>
                                <p class="card-text">@session.WorkNotes</p>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No cycles completed yet.</p>
            }
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast @HideToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Task Timer</strong>
            <small>@DateTime.Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            On a short break. Be back around @(DateTime.Now.Add(BreakTimeSpan))!
        </div>
    </div>
</div>

@code {
    // 4 work and 4 break cycles counted twice
    private const int cycleCount = 4;
    private static readonly TimeSpan WorkTimeSpan = TimeSpan.FromSeconds(15);
    private static readonly TimeSpan BreakTimeSpan = TimeSpan.FromSeconds(3);

    public TimeSpan TimeRemaining { get; private set; }
    public TaskTimerState CurrentState { get; private set; } = new(TaskTimerStateValue.Stopped);

    private IEnumerable<TimerSession> completedSessions = [];
    private IJSObjectReference? module;
    public string CurrentPhase { get; set; } = "";
    private string TogglePauseResumeText => CurrentState.IsPaused ? "Resume" : "Pause";
    private int elapsedCount = 0;
    private int currentCycleCount => 1 + (elapsedCount / 2);
    private string HideToast => CurrentPhase == "Break" ? "show" : "hide";

    [SupplyParameterFromForm]
    private WorkNotes? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && module is null)
        {
            CurrentPhase = "Work";
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/TaskTimer.razor.js");
            Model = new WorkNotes();
        }

        if (firstRender && notifierService is not null)
        {
            Func<string, int, Task>? subscriber = async (a, b) =>
            {
                elapsedCount++;
                await Task.FromResult($"elapsedCount: {elapsedCount}, notifierStringA: {a}, notifierIntB: {b}");
            };

            notifierService.Notify += subscriber;
        }
    }

    private void Submit()
    {
        // do not submit empty notes
        // do not submit duplicate notes
        if (!string.IsNullOrWhiteSpace(Model?.Description) && completedSessions.All(s => s.WorkNotes?.Trim() !=
        Model?.Description))
        {
            Logger.LogInformation("Work notes submitted. Description = {Description}", Model!.Description);
            completedSessions = completedSessions.Prepend(new TimerSession("Work", WorkTimeSpan, DateTime.Now,
            Model!.Description));
            Model!.Description = "";
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
                // Handle exceptions if client JS module is disconnected
            }
        }
    }

    public async Task StartTimer()
    {
        elapsedCount = 0;

        CurrentPhase = "Work";
        CurrentState = TaskTimerState.Running;
        StateHasChanged();

        while (currentCycleCount < cycleCount)
        {
            // skip the first break time, stop loop after last work cycle
            if (CurrentPhase == "Break")
            {
                module?.InvokeVoidAsync("run", BreakTimeSpan.TotalSeconds);
                await taskTimerService.StartAsync(BreakTimeSpan);
            }

            TimeRemaining = WorkTimeSpan;
            CurrentPhase = "Work";
            StateHasChanged();

            // start a javascript timer on the client
            module?.InvokeVoidAsync("run", settings.WorkTimeSpan.TotalSeconds);
            // then, call and wait for the periodic timer on the server
            await taskTimerService.StartAsync(WorkTimeSpan);

            // setup break time before next loop iteration
            TimeRemaining = BreakTimeSpan;
            CurrentPhase = "Break";
            StateHasChanged();
        }

        TimeRemaining = TimeSpan.Zero;
        CurrentState = TaskTimerState.Stopped;
        CurrentPhase = $"Stopped after {currentCycleCount} cycles.";
        StateHasChanged();
    }
}